RewriteEngine On
Options -Indexes

########################################
# 1. КАНОНИЧЕСКИЙ ДОМЕН + HTTPS
########################################
RewriteCond %{HTTP_HOST} !^holodos\.by$ [NC,OR]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://holodos.by%{REQUEST_URI} [R=301,L,NE]

########################################
# 2. УБИРАЕМ ДВОЙНЫЕ СЛЕШИ
########################################
RewriteCond %{THE_REQUEST} \s[^?]*//
RewriteRule ^(.*)$ /$1 [R=301,L,NE]

########################################
# 3. СТАРЫЕ SEO URL (301 редиректы)
########################################
RewriteRule ^remont-ariston/?$ https://holodos.by/services/remont-ariston/ [R=301,L]
RewriteRule ^zamena-isparitelya/?$ https://holodos.by/services/zamena-isparitelya/ [R=301,L]
RewriteRule ^zamena-termostata/?$ https://holodos.by/services/zamena-termostata/ [R=301,L]
RewriteRule ^O-nas/?$ https://holodos.by/about/ [R=301,L,NC]
RewriteRule ^zamena-kompressora/?$ https://holodos.by/services/zamena-kompressora/ [R=301,L]
RewriteRule ^perenaveska-dveri/?$ https://holodos.by/services/perenaveska-dveri/ [R=301,L]
RewriteRule ^vizov-mastera/?$ https://holodos.by/services/vizov-mastera/ [R=301,L]
RewriteRule ^remont-rele/?$ https://holodos.by/services/remont-rele/ [R=301,L]
RewriteRule ^remont-no-frost/?$ https://holodos.by/services/remont-no-frost/ [R=301,L]
RewriteRule ^srochniy-remont/?$ https://holodos.by/services/srochniy-remont/ [R=301,L]
RewriteRule ^remont-modulya/?$ https://holodos.by/services/remont-modulya/ [R=301,L]
RewriteRule ^remont-kameri/?$ https://holodos.by/services/remont-kameri/ [R=301,L]
RewriteRule ^zaprevka-freona/?$ https://holodos.by/services/zaprevka-freona/ [R=301,L]
RewriteRule ^zamena-uplotnitelya/?$ https://holodos.by/services/zamena-uplotnitelya/ [R=301,L]

# 6. 404
########################################
ErrorDocument 404 /404.html